*{
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* @font-face {
    font-family: 'BDMegalonaDEMOPersonalUseOnly-RegularItalic';
    src: url('../fonts/BDMegalonaDEMOPersonalUseOnly-RegularItalic.eot');
    src: url('../fonts/BDMegalonaDEMOPersonalUseOnly-RegularItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BDMegalonaDEMOPersonalUseOnly-RegularItalic.svg#BDMegalonaDEMOPersonalUseOnly-RegularItalic') format('svg'),
         url('../fonts/BDMegalonaDEMOPersonalUseOnly-RegularItalic.ttf') format('truetype'),
         url('../fonts/BDMegalonaDEMOPersonalUseOnly-RegularItalic.woff') format('woff'),
         url('../fonts/BDMegalonaDEMOPersonalUseOnly-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
   */

  


/* start: header */
.header{
    position: fixed !important;
    z-index: 99;
    font-family: 'BDMegalonaDEMOPersonalUseOnly-RegularItalic';
    background-color: transparent !important;
    /* color: white; */
    transition: 0.8s;
}
.header .white-logo{
    background-color: white;
    padding: 5px;
}
.header .black-logo{
    display: none;
}
.change-header .black-logo{
    display: inline-block;
}
.change-header .white-logo{
    display:none;
}
.navbar{
    width: 100% !important;
}
.navbar-brand{
    margin-left: 30px !important;
}
.nav-link{
    font-size: 14px !important;
    padding: 25px 30px !important;
}
.change-header{
    background-color: #fff !important;
    color: black !important;
    transition: 0.8s;
}
/* start: banner */
.banner {
    overflow: hidden !important;
}
.banner-img{
    filter: brightness(40%) !important;
}
a.nav-link {
    color: #fff;
    font-family:  'AvenirLTStd-Light', 'Nunito Sans', sans-serif ;
}
a.nav-link:hover{
    color: white;
}
.change-header a.nav-link {
    color: #000;
    font-family:  'AvenirLTStd-Light', 'Nunito Sans', sans-serif ;
}
.carousel-indicators {
    position: absolute;
    right: auto !important;
    bottom: 0;
    left: 40px !important;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: auto !important;
    margin-bottom: 3rem !important;
    margin-left: auto !important;
    list-style: none;
}
.carousel-control-prev{
    width: 98% !important;
    top: auto !important;
    bottom: 40px !important;
    justify-content: flex-start !important;
    left: 300px !important;
}
.carousel-control-next{
    width: 98% !important;  
    top: auto !important;
    bottom: 40px !important;
    justify-content: flex-start !important;
    left:  330px !important;
}
.carousel-item .text{
    position: absolute;
    transform: translate(40%, -250%) !important;
    color: white;
}
.carousel-item .text h2{
    font-size: 54px !important;
}
.carousel-item .text h6{
    font-size: 22px;
}
.carousel-item .text ul{
    text-decoration: underline;
    list-style-type: none;
    font-size: 20px !important;
    padding-left: 0px !important;
    display: flex;
    gap: 15px;
}
.carousel-item .text ul li:first-child{
    color: darkgray;
    text-decoration: underline;
}
/* start: banner bottom text */
.banner-bootom-txt{
    padding: 125px 0px;
}
.banner-bootom-txt h2{
    font-family:  'AvenirLTStd-Light', 'Nunito Sans', sans-serif !important;
    font-size: 35px !important;
    font-weight: 700 !important;
}
.banner-bootom-txt h3{
    text-decoration: underline;
    padding-top: 40px;
}

/* start: slide1 */
.slide1{
    overflow: hidden !important;
}
.slide1-img img {
    width: 100%;
    height: auto;
}
.slide1-txt{
    padding: 100px 0px;
    font-family:  'AvenirLTStd-Light', 'Nunito Sans', sans-serif !important;
}
.slide1-txt p{
    line-height: 1.77;
    font-size: 18px;
}
.slide1-txt .know-more{
    padding-top: 40px;
}
.slide1-txt h3{
    text-decoration: underline;
    padding-top: 40px;
}
/* start: slide2 */
.slide2{
    overflow: hidden!important;
    padding-top: 125px;
}
.slide2-img img{
    width: 100%;
    height: auto;
}
 
.testimonial{
    text-align: center;
    /* padding: 100px 40px 5px; */
    position: relative;
}

/* .testimonial .pic{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    margin: 0 auto;
} */
.testimonial .pic img{
    width: 100%;
    height: 700px;
}

.owl-theme .owl-controls .owl-page span{
    width: 20px;
    height: 3px;
    background: #4b489b;
}

/* start: slide3 */
.slide3-img img{
    width: 100%;
    height: 760px;
}

/* start: slide5 */
.slide5{
    background: url(images/backgroung-img-slide5.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 315px 0px;
}
/* start: slide6 */
.slide1-txt .city{
    padding-top: 30px;
    font-weight: 500;
    font-size: 20px;
}
/* start: footer */
.footer{
    padding: 100px 0px;
    overflow: hidden;
}
.footer h5{
    font-weight: bold;
}
.footer .row .row{
    padding: 30px 0px;
}
.footer h6{
    text-decoration: underline;
}
.back-div{
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 0px 9px;
    width: fit-content;
    font-size: 20px;
    margin: 0px 15px;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media-query */

@media (max-width: 575.98px){
    .banner {
        overflow: hidden !important;
        height: 615px;
        background-color: #000;
    }
    .banner-img{
        filter: brightness(40%) !important;
        height: 515px;
    }
    .banner-bootom-txt{
        padding: 60px 34px;
    }
    .banner-bootom-txt h2{
        font-family:  'AvenirLTStd-Light', 'Nunito Sans', sans-serif !important;
        font-size: 22px !important;
        font-weight: 600 !important;
    }
    .testimonial{ padding: 80px 15px 5px; }
    .testimonial .pic{
        width: 100%;
        height: 400px;
    }
    .carousel-item .text h2{
        font-size: 35px !important;
    }
    .carousel-item .text h6{
        font-size: 16px;
    }
    .carousel-item .text ul{
        text-decoration: underline;
        list-style-type: none;
        font-size: 14px !important;
        padding-left: 0px !important;
        display: flex;
        gap: 15px;
    }
    .carousel-item .text{
        transform: translate(20%, -220%) !important;
    }
    .slide1-img{
        padding-right: 34px;
    }
    .slide1-txt{
        padding: 40px 34px;
    }
    .slide1-txt p{
        font-size: 18px;
    }
    .slide1-txt .know-more{
        font-size: 12px;
        padding-top: 30px;
    }
    .slide1-txt h3{
        font-size: 24px;
        padding-top: 30px;
    }
    .slide2{
        overflow: hidden!important;
        padding-top: 0px;
    }
    .testimonial{
        padding: 0px;
    }
    .testimonial .pic img{
        width: 100%;
        height: auto;
    }
    .testimonial .pic{
        height: auto;
    }
    .slide3-img img{
        width: 391px;
        height: 195px;
    }
    .slide5{
        padding: 130px 0px;
    }
    .social-icons{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .back-div{
        margin-top: 25px;
    }
    .slide1-txt .city{
        float: left;
        width: 50%;
    }
}
@media (max-width: 767.98px) { 

}
@media (max-width: 991.98px) {

}
@media (max-width: 1199.98px) {

}
@media (max-width: 1399.98px) { 

}